<footer id="contacto">
    <div class="footer_banner">
        <img src="/images/footer_banner.jpg" alt="Footer Banner">

    </div>
    <div class="container footer">
        <div class="row">
            <div class="col-12 col-md-1">
                <div class="logo_footer">
                    <a href=""> <img src="/images/logo_sergio.png" alt="Sergio Garcia"></a>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <div class="footer_info">
                    <h2>Contacto</h2>
                    <div class="socials_footer">
                        <!-- WS icon -->
                        <a href="https://wa.me/+573012529398" target="_blank">
                            <iconify-icon icon="ic:baseline-whatsapp" style="color: white"></iconify-icon></a>
                        <!-- MAIL icon -->
                        <a href="mailto:sergiogarcia050@gmail.com" target="_blank">
                            <iconify-icon icon="material-symbols:mail-outline" style="color: white"></iconify-icon></a>
                        <!-- GitHub icon -->
                        <a href="https://github.com/SergioKnows" target="_blank">
                            <iconify-icon icon="mdi:github" style="color: white"></iconify-icon></a>
                    </div>
                    <div class="footer_text">
                        <p>El presente es control, siempre puedes elegir<br>si quieres tomarlo o no.</p>
                        <p class="copy_right">Copyright © 2024. sergiogarciab.com<br>All rights reserved. Todos los derechos reservados.</p>
                        <a href="https://foxy.com.co/" target="_blank"><img src="/images/foxy-logo.png" alt="Foxy Logo"
                                class="logo_foxy"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>