<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-3 logo">
                <a href="#"><img src="/images/logo_sergio.png" alt="Sergio Garcia"></a>
            </div>
            <div class="col-md-9 menu-desktop">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#acerca">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portafolio">Portafolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>  
            <div class="col-6 col-md-9 offCanvas">
                <!--Footer included from partials -->
                <div w3-include-html="/partials/mobile_menu.html"></div>
            </div>  
        </div>
    </div>
</header>