<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- HTML Meta Tags OpenGraph START-->
<title>Sergio Garcia</title>
<meta name="description" content="Portafolio de desarrollador web Sergio Garcia">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://sergiogarciab.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Sergio Garcia">
<meta property="og:description" content="Portafolio de desarrollador web Sergio Garcia">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/documents/86c37fae-de64-4e41-a78c-bcb3786dc707.png?token=fS4XpLUBIJGCwZ4kHRx_t7yc7nMzDDDKfRQJTjAcj8Q&height=564&width=1200&expires=33246527868">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="sergiogarciab.com">
<meta property="twitter:url" content="https://sergiogarciab.com/">
<meta name="twitter:title" content="Sergio Garcia">
<meta name="twitter:description" content="Portafolio de desarrollador web Sergio Garcia">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/documents/86c37fae-de64-4e41-a78c-bcb3786dc707.png?token=fS4XpLUBIJGCwZ4kHRx_t7yc7nMzDDDKfRQJTjAcj8Q&height=564&width=1200&expires=33246527868">
<!-- Meta Tags Generated via https://www.opengraph.xyz OpenGraph END -->

<!-- Reset CSS -->
<link href="../css/reset.css" rel="stylesheet">
<!-- Bootstrap v5.3.2 -->
<link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Custom Preloader -->
<link href="../css/preloader.css" rel="stylesheet" rel="preload" as="style">
<!-- Main Stylesheet -->
<link href="../css/styles.css" rel="stylesheet">
<!-- Responsive Styles -->
<link href="../css/responsive.css" rel="stylesheet">
<!-- Mobile Menu -->
<link href="../css/offCanvas.css" rel="stylesheet">

<!-- alfavicongenerator.net TAGS -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">


